<div>
        <h2>Registro</h2>

        <form id="registerForm">

            <p class="text">Nombre</p>
            <input type="text" name="nombre" id="email" class="input" placeholder="Tu nombre">

            <p class="text">Apellido</p>
            <input type="text" name="apellido" id="email" class="input" placeholder="Tu apellido">

            <p class="text">Edad</p>
            <input type="text" name="edad" id="email" class="input" placeholder="18">

            <p class="text">Email</p>
            <input type="text" name="email" id="email" class="input" placeholder="user@gmail.com">

            <p class="text">Password</p>
            <input type="text" name="password" id="password" class="input" placeholder="************">

            <button type="submit" id="btn" class="btn">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Ingrese aquí</a></p>
</div>

<script src="/js/register.js"></script>